.jumbotron {
  
  width: 31%;
  min-height: 698px;
  margin-left: -39px;
  background-color:#C18576;
}


#joinButton {
  margin-top: -78px;
  margin-left: 138px;
}


#addButton {
  margin-top: -66px;
  margin-left: 251px;
  width: 54px;
}
  
  #searchButton{
    margin-top: 5px;
    margin-left: 30px;
  }

.sidenav {
  margin-left: -38px;
  margin-right: 31px;
  width: 67%;
  /* height: 102%; */
  margin-top:90px;

  position: fixed;
  z-index: 1;
  top: 20px;
  right: 10px;
  background: #eee;
  overflow-x: hidden;
  padding: 8px 0;
  overflow-y: scroll;
  
  
  height: 75%;
}
.header input{
  margin-bottom: 8px;
  margin-left: 35px;
  width: 290px;
 
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #2196F3;
  display: block;
}

#searchInput {
  width: 20px;
}
.leftSide input{
  width: 240px;
  margin-left: -25px;
}

#message {
  text-decoration: center;
}

.sidenav a:hover {
  color: #064579;
}
/* #title{
    margin-top:-10px;
} */
.style{
  width: 30%;
}

#sendButton {
  position: fixed;
  bottom: 81px;
  right: 44px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

#search {
  width: 60%;
  position: fixed;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  bottom: 74px;
  z-index: 99;
  margin-left: 12px;
 
}
.form-control{
  width: 191px;
    margin-left: 20px;
  
  
}

.main {
  margin-left: 140px;
  /* Same width as the sidebar + left position in px */
  font-size: 28px;
  /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
.me{
  background-color: rgba(49, 76, 228, 0.801);
  border-radius: 25px;
  width: 80%;
  float: right;
  text-align: right;

  margin-top: 2%; 
  margin-right: 20%
}

.others{
  background-color:rgb(138, 132, 132);
  width: 80%;
  float:left;
  text-align:left;
  border-radius: 25px;
  margin-top: 2%;
 

}
.profileImage{
  border-radius: 50px;
  height: 50px;
  width: 50px;

  margin-left: 6px;
  margin-top: 3px;
}
.profileName{
  margin-top: -37px;
  margin-left: 60px;
}
.header{
  height: 30%;
    width: 105%;
    margin-left: -39px;
    background-color:#C18576;
   

}
.channelName{
  margin-top: -47px;
    margin-left: 556px;
}
.me{
  padding-right: 10px;
}
.others{
  padding-left:10px;
}
#signoutButton{
  margin-left: 72px;
}